.tabs-container {
  @include span-columns(10);

  @include media($mobile) {
    @include span-columns(1);
  }
}

.tabpanel { 
  height: 1%; // IE fix for float bug 
  padding: 0; 
} 

.tablist { 
  list-style: none; 
  margin: 0;
  padding: 0; 
} 

.tab { 
  background-color: $brown;
  border: 1px solid $black;
  -moz-border-radius-topleft: 5px; 
  -webkit-border-radius-topleft: 5px; 
  -moz-border-radius-topright: 5px; 
  -webkit-border-radius-topright: 5px; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  display: inline; // IE float bug fix
  float: left; 
  font-weight: bold;
  height: 2.25em; 
  margin: .2em 1px 0 0;
  padding: 10px;
} 

.panel { 
  border: 1px solid $black; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  -moz-border-radius-bottomleft: 10px; 
  -webkit-border-radius-bottomleft: 10px; 
  -moz-border-radius-bottomright: 10px; 
  -webkit-border-radius-bottomright: 10px; 
  -moz-border-radius-topright: 10px; 
  -webkit-border-radius-topright: 10px; 
  border-top-right-radius: 10px; 
  clear: both; 
  display: block; 
  margin: 0;
  padding: 10px; 
} 

.control-list { 
  list-style-type: none; 
} 

.selected { 
  background-color: $white; 
  border-bottom: 1px solid $white; 
  color: $black; 
} 

.focus { 
  margin-top: 0; 
} 

.accordian { 
  border-radius: 0; 
  float: none; 
  margin: 0; 
  width: 600px;
} 

.hidden { 
  left: -300em; 
  position: absolute; 
  top: -30em; 
}

