/* ========================================
 * Grays 
 * ======================================== */
$lightgray: #f1f1f1;

/* ========================================
 * Blues
 * ======================================== */
$blue: #336699;
$lightblue: #add8e6;

/* ========================================
 * Reds
 * ======================================== */
$pale-red: #FFE4E1;
