html {
  font-size: 62.5%;
}

body {
  background: $lightgray;
}

a {
  color: $blue;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $blue;
  }
}

.layout-container {
  @include outer-container;
  margin: 0 auto;

  header,
  nav {
    @include span-columns(6);
  }
}
